.services-container {
      width: 100%;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;
}

.service-card {
      width: 100%;
      padding: 3rem 1rem;
      border-radius: 8px;

      background: rgb(37, 37, 37);
      text-align: center;
}

.service-card * {
      margin: 10px 0;
}

.service-card__icon {
      font-size: 30px;
      color: var(--orange);
}

.service-card__title {
      font-size: 25px;
}

.service-card__description {
      font-size: 18px;
}



@media screen and (max-width: 1000px) {
      .services {
            padding: 0;
      }

      .services .container {
            width: 100%;
            padding: 2rem;
      }
}