.services-container {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
}

.service-card {
      width: 30%;
      padding: 3rem 1rem;

      background: #000;
      text-align: center;
}

.service-card * {
      margin: 10px 0;
}

.service-card__icon {
      font-size: 30px;
      color: var(--orange);
}

.service-card__title {
      font-size: 25px;
}

.service-card__description {
      font-size: 18px;
}



@media screen and (max-width: 1000px) {
      .services {
            padding: 0;
      }

      .services-container {
            flex-wrap: wrap;
      }

      .service-card {
            width: 100%;
            margin: 0px auto;
            padding: 5rem 3rem;
      }
}