.hero {
      width: 100%;
      height: 100vh;
      padding: 0rem;

      background-image: url(https://images.unsplash.com/photo-1605296867424-35fc25c9212a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
      background-size: cover;
      color: rgb(255, 255, 255);

      
}

.hero__overlay {
      width: 100%;
      height: 100%;
      padding: 5rem;

      background: rgba(0, 0, 0, 0.678);

      display: flex;
      align-items: center;
      justify-content: flex-start;
}

.hero-card {
      width: 60%;

      text-align: justify;
}

.hero-card * {
      margin: 15px 0;
}

.hero-title {
      font-size: 50px;
      text-align: left;
}

.hero-description {
      font-size: 20px;
}

.hero-link {
      padding: 10px 1rem;
      
      font-size: 20px;
      text-decoration: none;
      
      background: var(--orange);
      color: rgb(255, 255, 255);
}

@media screen and (max-width: 1000px) {
      .hero__overlay {
            padding: 0;

            justify-content: center;
      }

      .hero-card {
            width: 90%;

            text-align: justify;
      }
}