:root {
    /* COLORS */
    --dark-gray: rgb(34, 34, 34);
    --light-gray: rgb(49, 49, 49);

    --orange: rgb(206, 87, 4);

    /* FONTS */
    --primary-font: 'Poppins', sans-serif; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: var(--primary-font);
}

body {
    
}

.title {
    font-size: 35px;
}

.section {
    height: auto;
    width: 100%;
    padding: 5rem;

      
    background: var(--dark-gray);
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 1000px) {
    .title {
        padding: 3rem 0;

        text-align: center;
    }
}